.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* To evenly space the columns */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    width:80%;

    /* Adjust according to your preference */
    /* margin: 0 auto; Center the container horizontally */
}

.column {
    align-items: start;

    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    flex: 1;
    /* Each column takes up equal space */
    background-color: transparent;
    /* Background color for columns */
    border-radius: 8px;
 
margin-left: auto;
margin-right: auto;

}

.column #contact-a {
    text-decoration: none;
    font-size: 15pt;
    text-align: left;
    width: 90%;
    text-wrap: wrap;
    line-height: 15px;
    background-color: transparent;
    display: block;
    font-weight: 200;
}

.column h2 {
    text-align: left;
    background-color: transparent;
    font-size: 20pt;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    text-wrap: wrap;
    font-weight: 300;
}

h2#header-h2 {
    text-align: left;
    width: 90%;
    font-size: 20pt;
    background-color: transparent;
    align-self: end;
    font-weight: 300;

}

.column #sag-a {
    text-decoration: none;
    font-weight: 300;
    text-align: left;
    font-size: 15pt;
    display: inline-block;

}

.column a:hover {
    color: rgb(69, 74, 222);

}

.column p {
    font-weight: 300;
    background-color: transparent;
    font-size: 14pt;
    text-align: left;
    margin: 0 auto;
    width: 90%;
    display: block;
    line-height: 40px;

}


@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        /* Change flex direction to stack columns vertically */
    }

    .column {
        margin-bottom: 20px;
        margin-left: auto;
        /* Add some spacing between stacked columns */
        margin-right: auto;
 
    }
}

.prerogative {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
font-size: 14pt;
text-align: left;
font-weight: 300;
background-color: rgba(255, 255, 255, 0.84);

}

#prerogative-h1 {
    text-align: center;
    font-size: 40pt;
    font-weight: 300;
    width: 100%;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-wrap: wrap;
}