
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Press+Start+2P&display=swap');


.blink {
    animation: 1.3s infinite blink;
    font-family: 'Athiti';
    color: #000000;
    font-size: 40pt;
    display:inline;
    text-align: center;
    display: inline;
line-height: 25pt;

}

@keyframes blink {
    0%, 15% {
        opacity: .5;
        color:rgba(255, 255, 255, 0.277);
    }
    16%, 100% {
        opacity: 1;
    }
}
.marqueeContainer {
    background:transparent;
    color:black;
    width: 50%;
    transform: translateX(100%);
    animation: scroll-left 20s linear infinite;
    font-family: 'Athiti';
    margin-top: 1%;
    font-size: 12pt;
    line-height: 13pt;

}


  
@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}