
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Press+Start+2P&display=swap');




.blink {
    animation: 1.3s infinite blink;
    font-family: 'Courier new';
    color: #ff4d00;
    font-size: 40pt;

}

@keyframes blink {
    0%, 15% {
        opacity: .3;
        color:rgba(255, 115, 0, 0.151);
    }
    16%, 100% {
        opacity: 1;
    }
}
.marquee {
    position: relative;
    background:transparent;
    color:black;
    width: 100%;
    transform: translateX(100%);
    animation: scroll-left 20s linear infinite;
    font-family: 'Dosis';
    margin-top: 4%;
    font-size: 14pt;
    line-height: 12pt;

}


  
@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}