#bar {
  width: 28px;
  height: 2px;
  background-color: rgb(0, 81, 255);
 display: block;
  margin:3px ;
}

.MenuIcon {
position: relative;
background-color:transparent;
width: 100%;
}

.wholeContainer a {
    text-decoration: none;
    color:black;
    background-color: rgba(255, 157, 0, 0.763);
  font-family: 'Athiti';
  font-size: 11pt;
  border-radius: 15pt;
}

.wholeContainer a:hover {
  background-color: rgb(255, 132, 0);

}
.wholeContainer {
 
    margin-top: 1%;
 align-items: center;
 background-color: transparent;
    z-index: 9998!important;
    float:right;
    display: block;
    width: 100%;
    
}