

.footContainer  {
  background-color: transparent;
  font-size: 12pt;
  border-radius: 10pt;
  display:block;
  margin-left: 1%;
  padding:2pt;
  margin:.5%;

} 



/* .footContainer  {
  color:black;
background-color: transparent;
box-sizing: border-box;
width: 100%;
display:inline-block;
} */
