


div.footContainer  {
  color:rgb(27, 27, 27);
   border-radius: 2pt;
background-color:rgba(249, 144, 51, 0.833);
box-sizing: border-box;
width: 100;
justify-content: center;
display: block;
text-align: left;
font-size: 13pt;
padding-left: 5%;
padding-top: 2%;
}
  
 #arrow a{
  font-size: 17pt;
  width: 100;
  display: block;
  background-color:rgba(249, 144, 51, 0.833);

 }

/* div.map {
  width: 200px;
background-color:transparent;
float: right;
margin-right: 10%;
display: block;
margin-top: -250px;
} */

.footContainer h2 {
  font-weight: 200;

  text-align: left;
  font-size:24pt;
  
}

.footContainer label {
  font-size: 13pt;

}
.footContainer input {
  font-size:13pt;
  background-color: rgba(255, 255, 255, 0.709);
  border-radius: 10pt;
  border-left:2pt solid rgb(255, 111, 8);
  border-bottom:2pt solid rgb(255, 111, 8);
  width:300px ;

  padding:5pt;
  display: flex;
  border-right: transparent;
  border-top: transparent;
}

.footContainer .button {
  padding: 6pt;
  margin-top: .5%;
  float: left;
}

input#message {
  height: 70px;
  width:300px ;
}
