
div.footContainer  {
  color:rgb(27, 27, 27);
   border-radius: 2pt;
background-color:rgba(233, 233, 233, 0);
box-sizing: border-box;
width: 80%;
justify-content: center;
display: block;
text-align: left;
font-size: 13pt;
margin-left: 10%;
}
  
 #arrow a{
  font-size: 16pt;
  width: 80%;
  margin-left: 10%;
  display: block;
 }

/* div.map {
  width: 200px;
background-color:transparent;
float: right;
margin-right: 10%;
display: block;
margin-top: -250px;
} */

.footContainer h2 {
  font-weight: 100;

  text-align: left;
  font-size:24pt;
  
}

.footContainer label {
  font-size: 13pt;

}
.footContainer input {
  font-size:13pt;
  background-color: rgba(188, 212, 228, 0.418);
  border-radius: 10pt;
  border-color: rgb(15, 118, 252);
  padding:.3%;
  display: flex;
  border-left: transparent;
  border-top: transparent;
}

.footContainer .button {
  padding: 8pt;
  margin-top: 2%;
  float: left;
}

input#message {
  height: 60px;
}
