div {
    display: grid;
    text-align: center;
    width: 100%;
    float: left;
    
}



.section__subtitle {
    float: left;
    display: block;
    font-size: 15pt;
    margin-bottom: 4rem;
    font-family: 'Barlow';
}



.portfolio__container {
    -webkit-column-gap: 1rem;
    column-gap: 3rem;
    -webkit-column-gap: 1rem;
    grid-template-columns: repeat(2,50%);
    justify-content: center;


}

.grid {
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    padding-bottom: 5%;
    
}

.container {
    margin-left: 1rem;
    margin-left: var(--mb-1-5);
    margin-right: 1rem;
    margin-right: var(--mb-1-5);
    
}


.portfolio__text-section {
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.portfolio__text {
    color: var(--text-color);
    font-size: 12pt;
    font-weight: var(--font-medium);
    margin-bottom: 1.2rem;
    margin-top: 0.9rem;
    box-sizing: border-box;
   
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 12pt;

    
}







@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Belanosima&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300&family=Bagel+Fat+One&family=Barlow:wght@200&family=Belanosima&family=Caprasimo&display=swap');

.portfolio__container {
    float: left;
    column-gap: 3rem;
    grid-template-columns: repeat(2,380px);
    justify-content: center;
  }
  
.portfolio__box {
    background-color: var(--container-color);
    border: 1px dotted rgb(0, 0, 0);
    background-color: rgba(7, 27, 42, 0.151);
    border-radius: 1rem;
     float: left;
  }
  .portfolio__box:hover {
    background-color: rgba(2, 138, 242, 0.06);
    transition: transform 0.3s;
    border:1px solid rgb(255, 94, 0);
    scale: 1.01;
  }
  
 .portfolio__group {
    padding-block: 3%;
    padding-top: 3%;
    width:100%;
    background-color: transparent;
    float: left;
    text-align: center;
  }
  
  .portfolio__title {
    font-size: 30pt;
    margin-bottom: var(--mb-0-5);
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: 'Bagel Fat One';
    padding: 2%;
    float: left;
    width: 100%;

    
  }
  
  
  .portfolio__text {
    font-size: 20pt;
    color: rgb(0, 0, 0);    margin-top: 0.9rem;
    font-family: 'Barlow';
    padding: 5%;
    text-align: left;
    float: left;


  }
  
  .portfolio__img {
    display:inline;
    width: 300px;
    float: left;

  }
  
  .portfolio__link {
    width: 100%;
  }
  
  .portfolio__text-section {
    z-index: 10;
    width: 100%;
   

  }
  

  div.hardSkills {
	--b: 3px;  /* border thickness */
	--s: 30px; /* size of the dashes */
	--c1: #056aed;
	--c2: #ff7300;
	float: left;
	width: 1000px;
	justify-content: center; 
	position: relative;
text-align: center; 
 }
  .hardSkills::before {
	content:"";
	position: absolute;
	inset: 0;
	border-radius: 10pt;
	padding: var(--b);
	background: 
	  repeating-conic-gradient(var(--c1) 0 25%,var(--c2) 0 50%) 
	  0 0/var(--s) var(--s) round;
	-webkit-mask:
	  linear-gradient(#000 0 0) content-box,
	  linear-gradient(#000 0 0);
	-webkit-mask-composite: xor;
			mask-composite: exclude;
	pointer-events: none;
}

