div {
    display: grid;
    text-align: center;
    width: 100%;
    float: left;
    
}



.section__subtitle {
    float: left;
    display: block;
    font-size: 15pt;
    margin-bottom: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.portfolio__container {
    -webkit-column-gap: 1rem;
    column-gap: 3rem;
    -webkit-column-gap: 1rem;
    grid-template-columns: repeat(2,50%);
    justify-content: center;


}

.grid {
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    padding-bottom: 5%;
    
}

.container {
    margin-left: 1rem;
    margin-left: var(--mb-1-5);
    margin-right: 1rem;
    margin-right: var(--mb-1-5);
    
}


.portfolio__text-section {
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.portfolio__text {
    color: var(--text-color);
    font-size: 12pt;
    font-weight: var(--font-medium);
    margin-bottom: 1.2rem;
    margin-top: 0.9rem;
    box-sizing: border-box;
   
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 12pt;

    
}



