
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Belanosima&family=Press+Start+2P&display=swap');

.header a {
    text-decoration: none;
    color: black;
    font-size: auto;
    
}
/* .buttonStyle i {
    font-size: auto;
} */

.header a:hover {
    color: #ff6600;
    outline-offset: -8px;
    background-color: transparent;
    text-align: center;
    border-radius: 50pt;
}


.button{
    margin-right: 2.5%;
  color: rgb(0, 0, 0);
  background-color: transparent;
  --outline: 2px dashed black;
  border: 2px dashed ;
border-radius: 50pt;
outline-offset: -2px;
  transition: outline-offset .5s ease;  
  font-family: 'Athiti';
  padding: 1px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

}

.buttonStyle{
background-color: transparent;
justify-content: center;
  display: inline;
align-items: center;
  text-align: center;

}
.button:hover,
.button:focus  {
    outline: 2px dashed black;
    outline-offset: -8px ;
    background-color: transparent;
    text-align: center;
    border-radius: 50pt;

}




.carolineHead img {
    color: black;
    background-color: transparent;
    width: 100%;
    scale: .9;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
}

