
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Belanosima&family=Press+Start+2P&display=swap');

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ff5e00;
    
}



.button{
  --clr: rgb(0, 0, 0);
  background-color: transparent;
  --outline: 2px dashed var(--clr);
  color: var(--clr);
  outline: var(--outline);
  border: var(--outline);
  outline-offset: -2px;
  transition: outline-offset .75s ease;
  border-radius: 50pt;
  font-size: 20pt;
padding: 15px 32px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 5px 5px;
cursor: pointer;
font-family: 'Barlow';
}

.buttonStyle{
  display: flex;
justify-content: center;
margin-bottom: 2%;

}
.button:hover,
.button:focus {
    outline: var(--outline);
    outline-offset: -8px;
    color: #ff4d00;
    background-color: transparent;
    border-radius: 50pt;
}




.carolineHead {
    color: black;
    font-size: 60pt;
    font-family: "Major Mono Display";
    width: 100%;
    background-color: transparent;
    float: left;

}

div.carolineHead:hover {
    color: #f7561c;
    transition: 1s ease;


}
