.title {
    text-align: center;
    font-size:35pt;
    margin-top: 3%;
    font-weight: 200;
}

.carousel {
    width: 65vw;
margin-left: auto;
margin-right: auto;
    border-radius: 6pt;
    display: flex;
    height: auto;
    padding-top: 2%;
        background: linear-gradient(270deg, #48e2bcac, #0b80eeb7, #f0cd0ad7, rgb(186, 148, 228));
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

.button-div {
    background-color: transparent;
   
    position: relative;
    width: 60vw;
    margin-left: 20%;
    border-radius: 10pt;
    display: block;
    margin-bottom: 4%;
    height: auto;
}
.carousel-detail {
    width: 100%;
    border-radius: 8pt;
    overflow-y: scroll;
    display: block;
}

.carousel-text {
    font-weight:300 ;
    margin-top: 0%;
    text-wrap: pretty;
margin-bottom: auto;
    text-align:left;
background-color: transparent;
font-size: 13pt;
width: 90%;
height: 115px;
border-radius: 8pt;

overflow-y: scroll;
}

@media screen and (max-width:768px) {
.carousel-text::-webkit-scrollbar {
    width: 8px;
    border-radius: 8pt;
   background-color: rgba(0, 0, 0, 0.124);
  }
  
  /* Track */
.carousel-text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.269);
    border-radius: 6pt;
  }

  /* Handle */
.carousel-text::-webkit-scrollbar-thumb {
    background-color: rgba(238, 238, 238, 0.32);
    border-radius: 6pt;
  
  } 
}



.carousel-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: auto;
    align-items: center;
object-fit: contain;
height: 90%;
margin-top: auto;
background-color: transparent;
}
.carousel-title {
font-weight: 300;
text-align: center;
width: 90%;
font-size: 25pt;
display: block;
box-sizing: border-box;
padding-top: 2%;
background-color: transparent;
}

button.carousel-button {
    background-color: transparent;
    width: 50px;
    padding: 5pt;
    border-radius: 6pt;
    border:  transparent ;
color: black;
display: inline;

    font-size: 14pt;
}

.carousel-link {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    width: 90%;
 margin: 2%;
    align-items: auto;

}

.carousel-link:hover {
    text-decoration: none;
    color:#0077ffb7;

}

.client-column {
flex:50%;
display: flex;
box-sizing: border-box;
background-color: transparent;
margin: 2%;
}

.client-row {
    display: flex;
box-sizing: border-box;
}

