.title {
    position:relative;
    text-align: center;
    font-size:35pt;
    margin-top: 3%;
    font-weight: 200;
}

.carousel {
    position: relative;
    width: 60vw;
    margin-left: 20%;
    border-radius: 10pt;
    display: block;
    height: auto;

        background: linear-gradient(270deg, #48e2bcac, #0b80eeb7, #f0cd0ad7, rgb(186, 148, 228));
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

.button-div {
    background-color: transparent;
   
    position: relative;
    width: 60vw;
    margin-left: 20%;
    border-radius: 10pt;
    display: block;
    margin-bottom: 4%;
    height: auto;
}
.carousel-detail {
    position: relative;
    width: 100%;
    border-radius: 15pt;
    text-overflow: scroll;

}

.carousel-text {
    font-weight:300 ;
    margin-top: 0%;
    text-wrap: pretty;
    margin-bottom: 2%;
    text-overflow: scroll;
    text-align:left;
    overflow: scroll;
height: 120px;
padding: 2%;
}


.carousel-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 2%;
    align-items: center;
    box-sizing: border-box;
height: 200px;
object-fit: contain;
}
.carousel-title {
font-weight: 100;
text-align: center;
width: 100%;

}

button.carousel-button {
    background-color: transparent;
    width: 100;
    padding: 5pt;
    border-radius: 15pt;
    border:  transparent ;
color: black;
    margin: 2%;
    font-size: 15pt;
}

.carousel-link {
    text-decoration: none;
    color: black;
    margin: 2%;
    box-sizing: border-box;
    display: grid;
}

.carousel-link:hover {
    text-decoration: none;
    color:#0077ffb7;

}

.client-column {
flex:50%;
display: flex;
}

.client-row {
    display: flex;

}

