.navContainer {
  align-items: center;
  display:flex;
  height: 25pt;
  background-color: transparent;
    justify-content: space-between;
margin-bottom: 2%;
}
.navContainer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display:flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 100vw;

}

.navContainer a {
    text-decoration: none;
  color:rgba(0, 0, 0, 0.626);
  display:inline-block;
font-size: 12pt;
align-items: center;
background-color: transparent;
justify-content: center;
width: 100%;
}

.navContainer a:hover {
    text-decoration: none;
  color:rgb(255, 132, 0);
  display:inline-flex;
  font-size: 12pt;


}