a{
    text-decoration: none;
    color: black;
}

a:hover {
    color:#ff0084;
}

    .button {
    --clr: black;
    background-color: transparent;
    --outline: 2px solid var(--clr);
    color: var(--clr);
    outline: var(--outline);
    border: var(--outline);
    outline-offset: -4px;
    transition: outline-offset 200ms ease;
    margin-left: 20pt;
    border-radius: 80pt;
    font-family: "KiTestRings";
    font-size: 25pt;
    padding-inline: 1%;
    width: fit-content;
float:left;
  
}

.button:hover,
.button:focus {
    outline: var(--outline);
    outline-offset: -8px;
    color:#ff0084;
    background-color:#ffffff85;
    font-size: 30pt;


}

.perogative {
    margin-top: 0%;
    width:60%;
    font-size: 20pt;
    padding: 40pt;
    line-height: 35pt;
}
body {
    margin: 2%;

}

.carolineHead{
    color: black;
    font-size: 100pt;
    font-family: "Aretha Bridge";
float:left;
    width: 100%;


}
div.carolineHead:hover {
    color:#ff0084;
    font-size: 100pt;

} 

.carolineHead h1 {
    width: 40%;
    margin-bottom:1%;
}