a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #f7561c;
}

.button {
    --clr: rgb(0, 0, 0);
    background-color: transparent;
    --outline: 2px dashed var(--clr);
    color: var(--clr);
    outline: var(--outline);
    border: var(--outline);
    outline-offset: -4px;
    transition: outline-offset .75s ease;
    border-radius: 80pt;
    font-size: 20pt;
    padding-inline: .5%;
    width: 7%;
    margin: .5%;
    font-family: "KiTeStrings";
    display: flexbox;
    float: left;
    margin-top: 20pt;
    margin-left: 30pt;
    margin-bottom:30pt;


}

.button:hover,
.button:focus {
    outline: var(--outline);
    outline-offset: -8px;
    color: #ff2600;
    background-color: transparent;
    font-size: 20pt;
}

.perogative {
    font-size: 18pt;
    background-color: white;
    float: left;
    width: 60%;
}

body {
    float: left;
}

.carolineHead {
    color: black;
    font-size: 120pt;
    font-family: "Bubblegum";
    width: 100%;
    background-color: transparent;
    float: left;

}

div.carolineHead:hover {
    color: #f7561c;
    font-size: 120pt;
    transition: .75s ease;


}


.figure {

    width: 500px;

    background-color: transparent;
    height: 500px;

}

.figure img.image-hover {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    ;
    object-fit: contain;
    transition: opacity .0s;
}

.figure:hover img.image-hover {
    opacity: 1;
    display: show;

}

.figure:hover img.image-main {
    display: none;

}


.figure p.main {
    font-size: 40pt;
    color: #f7561c;
    background-color: rgb(255, 255, 255);
}

figure.p {
    background-color: #f7561c;


}

.figure:hover p.hover {
    font-size: 50pt;
    color: #f7561c;

    background-color: black;
    opacity: 1;
}

.figure:hover p.main {
    display: none;
}

.figure p.hover {
    float: left;
    opacity: 0;
    ;
    object-fit: contain;
    transition: opacity .0s;
}