a{
    text-decoration: none;
    color: black;
}

a:hover {
    color:#ff0084;
}

    .button {
    --clr: black;
    background-color: transparent;
    --outline: 2px solid var(--clr);
    color: var(--clr);
    outline: var(--outline);
    border: var(--outline);
    outline-offset: -4px;
    transition: outline-offset 200ms ease;
    margin-right: 20pt;
    border-radius: 80pt;
    font-family: "KiTestRings";
    font-size: 25pt;
    padding-inline: 1%;
    width: 10%;
float:left;
  
}

.button:hover,
.button:focus {
    outline: var(--outline);
    outline-offset: -8px;
    color:#ff0084;
    background-color:#ffffff85;
    font-size: 25pt;
}

.perogative {
    margin-top: 0%;
    width:60%;
    font-size: 20pt;
    padding: 40pt;
    line-height: 35pt;
}
body {
    margin: 2%;

}

.carolineHead{
    color: black;
    font-size: 120pt;
    font-family: "Aretha Bridge";
float:left;
    width: 100%;


}
div.carolineHead:hover {
    color:#ff0084;
    font-size: 120pt;

} 

.carolineHead h1 {
    width: 50%;
    margin-bottom:1%;
}

.figure {
    position: relative;
    width: 360px; 
    max-width: 100%;
  }
  .figure img.image-hover {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .figure:hover img.image-hover {
    opacity: 1;
  }

  /* .figure:hover img.image-main {
    display: none;
  } */